<h2>Users list</h2>
<hr>
<div class="row">
  <div class="col-md-12">
    <a routerLink="/" routerLinkActive="active">Back</a>
<button class="btn btn-primary ml-2" routerLink="/users/add">Add user</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
<ul>

  <li *ngFor="let user of allUser" >
   <a routerLink="/users/{{user.id}}" (click)="onSelect(user)">
    {{user.first_name}}
    {{user.last_name}}
    {{user.email}}
   </a>
   <button class="btn btn-danger m-2" (click)="deleteUser(user)">Delete user</button>
   <button class="btn btn-secondary" routerLink="/users/edit/{{user.id}}" >Update user</button>
  </li>
</ul>
  </div>
</div>
